html {
  font-size: 10px;
  font-family: 'Ubuntu Mono', monospace;
  background-color: #6A9159;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #6A9159;
  text-shadow: 5px 5px 10px black;
}

p, li {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0px;
}

body {
  width: 500px;
  margin: 10em auto;
  background-color: #DDDDDD;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

img {
  display: block;
  margin: 0 auto;
}